@model IEnumerable<BiEsPro.Data.Dtos.Items.AlltemsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Home page</h2>

<div class="btn btn-default">
    <a asp-controller="Admin" asp-action="Create">Create New</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ItemType)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ItemType.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
